.box{
    width: 90%;
    height: 100%;
    padding: 40px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
    background: #191919;
    text-align: center;
}

nav{
    width: 92%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 2px solid white;
    text-align: right;
}

.menu{
    margin: 0 30px 0 0;
}

.menu a{
    text-decoration: none;
    margin: 0 10px;
    line-height: 70px;
    clear: right;
    color: #3498db;
}

.menu a:hover {
    color:#58d68d ;
}

#contact{
    color: #2ecc71;
}

#contact:hover {

}

label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
}

#toggle{
    display: none;
}



@media only screen and (max-width: 500px){
    .box{
        top: 50%;
    }

    label{
        display: block;
        cursor: pointer;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu a {
        display: block;
        border-bottom: 1px solid #2ecc71;
        margin: 0;
        background: #191919;
    }

    #toggle:checked + .menu{
        display: block;
    }

    #toggle:checked + .menu > a{
        background: white;
    }

    #content {
        grid-template-columns: 1fr;
    }
}

#content {
    position: relative;
    top: 15%;
}

header:only-child{
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
}